#clients-container {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 247, 241, 0.808);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  min-height: 81%;
  width: 81%;
  margin-left: 81px;
  display: flex;
  justify-content: space-between;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

#client-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 25%;
  padding: 45px 9px 9px;
  margin-left: 21px;
}

#client-list input {
  background-color: transparent;
  border-radius: 7px;
  border: 2px solid #b1bec6;
  padding: 5px;
  margin: 9px;
  margin-bottom: 18px;
}

#client-list-btn {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 5px;
  color: #24292e;
  font-size: 18px;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

#client-list-btn:hover {
    background-color: #ddd;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#selected-client {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 27px;
  border-left: 2px solid #b1bec67e;
}

#client-details {
  max-height: 120px;
  width: 90%;
  border-bottom: 2px solid #d2e3ee;
  padding: 27px;
  max-height: 90px;
}

#client-appointments {
  max-height: 270px;
  width: 37%;
  margin-top: -180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-top: 2px solid #d2e3ee;
  border-right: 2px solid #d2e3ee;
  border-radius: 7px;
}

#client-appointments h2 {
  text-transform: uppercase;
  margin-top: -45px;
}

#appointment-filter {
    margin-top: -45px;
}

#appointment-filter select {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
    padding: 2px;
    max-width: 120px;
}

#appointment-list {
    margin-top: -160px;
    margin-right: 27%;
}

#appointment-list li {
    padding-bottom: 3px;
}

#appointment-list li:hover {
    background-color: #ddd;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#client-payments {
  max-height: 270px;
  width: 37%;
  margin-top: -90px;
}
