#clients-container {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 247, 241, 0.808);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  min-height: 81%;
  width: 81%;
  margin-left: 81px;
  display: flex;
  justify-content: space-between;
}

#client-list {
    width: 25%;
}

#selected-client {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 27px;
}

#client-details {
    max-height: 120px;
    width: 90%;
}

#client-appointments {
    max-height: 270px;
    width: 37%;
    margin-top: -90px;
}

#client-payments {
    max-height: 270px;
    width: 37%;
    margin-top: -90px;
}
