nav {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgb(128, 128, 128, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 37px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

nav a:hover {
  background-color: #ddd;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
