.reset-password-box {
  background-color: rgb(128, 128, 128, 0.3);
  padding: 20px;
  border-radius: 10px;
  margin: 50px;
  width: 300px;
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: rgb(1, 8, 14);
}

.reset-password-box label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset-password-box button {
  margin-top: 13px;
}
